
body
{
    background-color:#f19f4d;

}
/* navbar */
.navbar-default {
  background: #4484ce;
  height:100px;
  padding-top:40px;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
}

/* Title */
.navbar-default .navbar-brand {
    color: ;
}